@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 576px
Celular: de 576px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px
*/

* {
    font-family: 'Courier New', Courier, monospace;
}

@media print {
    body {
        background-image: url(../imagens/back-print.jpg); /* Desnecessário e pouco prático */
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }
    main:after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    main {
        width: 700px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
    background-image: url(../imagens/back-tv.jpg);
    } 

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;} 
}