@charset "UTF:8";

        * {
            font-family: Arial, Helvetica, sans-serif;
        }
        body {
            background-color: dodgerblue;
        }
        h1{
            font-weight: bolder;
            text-align: center;
            position: relative;
            margin: auto 5px 5px 10px 5px;
            padding: 10px;
            color: black;
            background-color: yellow;
            border-radius: 15px;
            box-shadow: inset 3px 3px rgba(0, 0, 0, 0.582);
            min-width: 200px;
        }
        fieldset{
            max-width: fit-content;
            padding: 10px;
            background-color: darkorchid;
            border-radius: 10px;

        }
        legend{
            font-weight: bolder;
            background-color: yellow;
            border-radius: 5px;
        }
        #in1, #in2 {
            font-weight: bolder;
            background-color: white;
            color: black;
        }
        form > p > label {
            background-color: yellow;
            border-radius: 3px;
            font-weight: bolder;
            color: black;
            max-width: fit-content;
            margin: 2px;
        }
        form > p > input {
            max-width: fit-content;
            box-shadow: 3px 3px black;
            background-color: darkgoldenrod;
            border-radius: 8px;
        }
        form > fieldset > p {
            font-weight: bold;
            font-size: large;
            background-color: springgreen;
            padding: 12px;
            margin: 6px;
            max-width: 290px;
            border-radius: 10px;
            box-shadow: 4px 4px rgba(0, 0, 0);
        }
        form > fieldset > p > input {
            color: black;
            border-radius: 5px;
            padding: 2px;
        }
        form > fieldset > p > label {
            color: black;
        }
