@charset "UTF:8";

        * {
            font-family: Arial, Helvetica, sans-serif;
        }
        body {
            background-color: dodgerblue;
        }
        h1{
            font-weight: bolder;
            text-align: center;
            position: relative;
            margin: auto 5px 5px 10px 5px;
            padding: 10px;
            color: black;
            background-color: yellow;
            border-radius: 15px;
            box-shadow: inset 3px 3px black;
            min-width: 200px;
        }
        fieldset{
            max-width: fit-content;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;

        }
        legend{
            font-weight: bolder;
            background-color: yellow;
            border-radius: 5px;
        }
        form > fieldset > p {
            font-weight: bold;
            font-size: large;
            background-color: yellow;
            padding: 10px;
            margin: 5px;
            max-width: 290px;
            border-radius: 10px;
            box-shadow: inset 3px 3px rgba(0, 0, 0, 0.5);
        }
        form > fieldset > p > input {
            background-color: blue;
            color: white;
            border-radius: 10px;
            box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
        }
