@charset "UTF-8";

div.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.caixa1 {
    background-color: red;
    text-align: center;
    color: white;
    grid-area: 1 / 1 / span 1 / span 4;
}
.caixa2 {
    background-color: green;
    text-align: center;
    color: white;
    grid-area: 2 / 1 / span 2 / span 2;
}
.caixa3 {
    background-color: blue;
    text-align: center;
    color: white;
    grid-area: 2 / 3 / span 2 / span 2;
}