@charset "UTF-8";

div.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.caixa1 {
    background-color: red;
    text-align: center;
    color: white;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}
.caixa2 {
    background-color: green;
    text-align: center;
    color: white;
    grid-row: 2 / -1;
    grid-column: 1 / 3;
}
.caixa3 {
    background-color: blue;
    text-align: center;
    color: white;
    grid-row: 2 / -1;
    grid-column: 3 / -1;
}